<div class="container">
	<div class="form-signin">
		<h2 class="form-signin-heading">Administrador</h2>
		<label for="inputEmail" class="sr-only">Login</label>
		<input type="text" class="form-control" placeholder="Login" ng-model="user" required autofocus>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" class="form-control" placeholder="Password" ng-model="password" required>
		<button class="btn btn-lg btn-primary btn-block" ng-click="cadastra()" type="submit">Entrar</button>
	</div>
</div> <!-- /container -->